# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/.vs/ExternalFileIns/v15/.suo
/.vs/ExternalFileIns/v15/Server/sqlite3/db.lock
/.vs/ExternalFileIns/v15/Server/sqlite3/storage.ide
/.vs/ExternalFileIns/v15/Server/sqlite3/storage.ide-shm
/.vs/ExternalFileIns/v15/Server/sqlite3/storage.ide-wal
/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/obj/Debug/ExternalFileIns.Control.InstallUserControl.resources
/obj/Debug/ExternalFileIns.Form1.resources
/obj/Debug/ExternalFileIns.Properties.Resources.resources
/obj/Debug/ExternalFileIns.csproj.CoreCompileInputs.cache
/obj/Debug/ExternalFileIns.csproj.FileListAbsolute.txt
/obj/Debug/ExternalFileIns.csproj.GenerateResource.cache
/obj/Debug/ExternalFileIns.csprojAssemblyReference.cache
/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
